/* html,
body {
    height: 90%;
} */

:root {
    --inactive-clr: #8c9cad;
    --active-clr: #055ab4;
    --btn-clr: #295b90;
}

body {
    background-color: #e9ecef;
    color: #4d5c6c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    /* height: 20%; */
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem 1rem;
    text-align: right;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    /* text-align: right; */
    padding-left: 30%;
    padding-top: 1rem;
    margin-top: 0;
}

.header__subtitle {
    font-weight: 500;
    padding-left: 50%;
}

.main {
    /* height: 80%; */
    margin: 0 1rem;
    padding: 1rem 0;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    /* height: 100%; */
}

/* MANAGE */

.manage {
    display: none;
    height: 100vh;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.manage__title {
    display: flex;
    font-size: 1rem;
    border-bottom: 3px solid #4d5c6c;
}

.manage__title h2 {
    margin: .75rem;
}

.manage__form {
    text-align: center;
    font-size: 1.75rem;
    /* height: 80vh; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.manage__quantity {
    color: #2d363f;
    height: 60%;
    padding: 0 1.75rem;
}

.manage__product {
    font-size: 2.75rem;
    /* margin: 20% 0 .75rem 0; */
    display: block;
}

.manage__price {
    display: block;
    /* font-size: 1.75rem; */
    font-weight: 600;
    margin: 1.25rem 0;
}

.quantity__input {
    /* margin: 20% 0 .75rem 0; */
    text-align: center;
    font-size: 2.75rem;
    width: 5rem;
    border: none;
    padding: 1.75rem 0;
}

/* BUTTONS */

.btn {
    border: none;
}

.btn__back {
    background: none;
    color: #4d5c6c;
}

.btn__quantity {
    /* margin: 20% 0 .75rem 0; */
    font-size: 2.75rem;
    background: none;
}

.state--inactive {
    color: var(--inactive-clr);
}

.state--active {
    color: var(--active-clr);
}

.manage__btn {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    /* box-sizing: border-box; */
    text-align: left;
    background: var(--btn-clr);
    color: #fff;
}

.btn__price {
    float: right;
} 

.coffee {
    padding: 1rem;
    font-weight: 600;
    border-radius: 4px;
    background: #f8f9fa;
}

.coffee__type {
    font-size: 1.25rem;
}

@media only screen and (min-width: 1200px) {

    body {
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}