/* html,
body {
    height: 90%;
} */

:root {
    --inactive-clr: #8c9cad;
    --active-clr: #055ab4;
    --btn-clr: #295b90;
}

body {
    background-color: #e9ecef;
    color: #4d5c6c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    /* height: 20%; */
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem 1rem;
    text-align: right;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    /* text-align: right; */
    padding-left: 30%;
    padding-top: 1rem;
    margin-top: 0;
}

.header__subtitle {
    font-weight: 500;
    padding-left: 50%;
}

.main {
    /* height: 80%; */
    margin: 0 1rem;
    padding: 1rem 0;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    /* height: 100%; */
}

/* MANAGE */

.manage {
    display: none;
    height: 100vh;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.manage__title {
    display: flex;
    font-size: 1rem;
    border-bottom: 3px solid #4d5c6c;
}

.manage__title h2 {
    margin: .75rem;
}

.manage__form {
    text-align: center;
    font-size: 1.75rem;
    /* height: 80vh; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.manage__quantity {
    color: #2d363f;
    padding: 0 1.75rem;
}

.manage__product {
    font-size: 2.25rem;
    /* margin: 20% 0 .75rem 0; */
    display: block;
    margin-bottom: 1.25rem;
    margin-top: 5rem;
}

.manage__price {
    display: block;
    /* font-size: 1.75rem; */
    font-weight: 600;
    margin: 1.25rem 0;
}

.quantity__input {
    /* margin: 20% 0 .75rem 0; */
    text-align: center;
    font-size: 2.75rem;
    width: 5rem;
    border: none;
    padding: 1.75rem 0;
}

/* BUTTONS */

.btn {
    border: none;
}

.btn__back {
    background: none;
    color: #4d5c6c;
}

.btn__quantity {
    /* margin: 20% 0 .75rem 0; */
    font-size: 2.75rem;
    background: none;
}

.state--inactive {
    color: var(--inactive-clr);
}

.state--active {
    color: var(--active-clr);
}

.manage__btn {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    /* box-sizing: border-box; */
    text-align: left;
    background: var(--btn-clr);
    color: #fff;
}

.btn__remove {
    font-size: 1.25rem;
    padding: .75rem;
    color: tomato;
    background: none;
}

.btn__price {
    float: right;
} 

.btn__basket {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 30vh; */
    /* height: 15vh; */
    background: var(--btn-clr);
    font-size: 1.5rem;
    padding: 1rem;
    justify-content: space-between;
    text-align: left;
    color: #fff;
    display: none;
    grid-template-columns: 64px 3fr;
    grid-template-rows: 50% 50%;
    grid-gap: .5rem;
    grid-template-areas: 
        "quantity price"
        "quantity reference";
}

.basket__quantity:first-child {
    grid-area: quantity;
    grid-row: 2/2;
}

.basket__quantity:last-child {
    grid-area: quantity;
    grid-row: 1/2;
}

.basket__quantity--icon {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    height: 48px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
}

.basket__quantity--output {
    background: #fff;
    color: var(--btn-clr);
    font-weight: 600;
    font-size: 1rem;
    float: right;
    padding: .25rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
    /* margin-right: 1rem; */
}

.basket__price {
    grid-area: price;
    margin-left: 1rem;
}

.basket__reference {
    grid-area: reference;
    margin-left: 1rem;
}

/* .basket__quantity {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 

.basket__quantity--icon {
    grid-area: basket;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
    height: 48px; 
    height: 70%;
} 

.basket__quantity .basket__quantity--output {
    grid-area: output;
}

.basket__quantity--icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
    height: 48px;
    height: 70%;
}

.basket__quantity--output {
    background: #fff;
    color: var(--btn-clr);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: .25rem;
    text-align: center;
    display: block;
    position: relative;
    top: -80px;
    float: right;
    font-weight: 600;
}

.basket__price {
    grid-area: price;
}

.basket__reference {
    grid-area: reference;
}  */

.coffee {
    padding: 1rem;
    font-weight: 600;
    border-radius: 4px;
    background: #f8f9fa;
}

.coffee__type {
    font-size: 1.25rem;
}

@media only screen and (min-width: 1200px) {

    body {
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}