:root {
    --inactive-clr: #8c9cad;
    --active-clr: #055ab4;
    --btn-clr: #295b90;
    --on-surface-clr: #4d5c6c;
    --on-surface-dark-clr: #2d363f;
    --active-back-clr: #bcd2e7;
}

body {
    background-color: #e9ecef;
    color: #4d5c6c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main {
    margin: 0 1rem;
    padding: 1rem 0;
}

.header {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem 1rem;
    text-align: right;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    padding-left: 30%;
    padding-top: 1rem;
    margin-top: 0;
}

.header__subtitle {
    font-weight: 500;
    padding-left: 50%;
}

/* PRODUCTS */

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.coffee {
    padding: 1rem;
    font-weight: 600;
    border-radius: 4px;
    background: #f8f9fa;
}

.coffee__type {
    font-size: 1.25rem;
}

/* MANAGE */

.manage {
    display: none;
    height: 100vh;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.manage__title {
    display: flex;
    font-size: 1rem;
    border-bottom: 3px solid #4d5c6c;
}

.manage__title h2 {
    margin: .75rem;
}

.manage__form {
    text-align: center;
    font-size: 1.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.manage__quantity {
    color: #2d363f;
    padding: 0 1.75rem;
}

.manage__product {
    font-size: 2.25rem;
    display: block;
    margin-bottom: 1.25rem;
    margin-top: 5rem;
}

.manage__price {
    display: block;
    font-weight: 600;
    margin: 1.25rem 0;
}

.quantity__input {
    text-align: center;
    font-size: 2.75rem;
    width: 5rem;
    border: none;
    padding: 1.75rem 0;
}

/* BUTTONS */

.btn {
    border: none;
}

.btn__back {
    background: none;
    color: #4d5c6c;
}

.btn__quantity {
    font-size: 2.75rem;
    background: none;
}

.state--inactive {
    color: var(--inactive-clr);
}

.state--active {
    color: var(--active-clr);
}

.manage__btn {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    text-align: left;
    background: var(--btn-clr);
    color: #fff;
}

.btn__remove {
    font-size: 1.25rem;
    padding: .75rem;
    color: tomato;
    background: none;
    width: 100%;
}

.btn__price {
    float: right;
} 

.btn__basket {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--btn-clr);
    font-size: 1.5rem;
    padding: 1rem;
    text-align: left;
    color: #fff;
    display: none;
    grid-template-columns: 64px 3fr;
    grid-template-rows: 50% 50%;
    grid-gap: .5rem;
    grid-template-areas: 
        "quantity price"
        "quantity reference";
}

/* BASKET */

.basket__quantity:first-child {
    grid-area: quantity;
    grid-row: 2/2;
}

.basket__quantity:last-child {
    grid-area: quantity;
    grid-row: 1/2;
}

.basket__quantity--icon {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    height: 48px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(103%) contrast(103%);
}

.basket__quantity--output {
    background: #fff;
    color: var(--btn-clr);
    font-weight: 600;
    font-size: 1rem;
    float: right;
    padding: .25rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
}

.basket__price {
    grid-area: price;
    margin-left: 1rem;
}

.basket__reference {
    grid-area: reference;
    margin-left: 1rem;
}

/* ORDERS */

.manage__orders {
    text-align: left;
    padding: 1rem;
    color: var(--on-surface-dark-clr);
    font-size: 1.25rem;
    font-weight: 600;
}

.order__rows {
    height: 40vh;
    overflow-x: scroll;
}

.order__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--on-surface-clr);
    padding: .5rem 0;
    margin-right: 1rem;
}

.product__quantity {
    background: var(--active-back-clr);
    padding: 0 .5rem;
}

.total__price,
.order__row--price {
    color: var(--active-clr);
}

.order__total {
    margin-top: 1.75rem;
}

.table__number--select {
    font-size: 1.25rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 22px;
    border: none;
    padding: 0 3rem 0 1.5rem;
 }

 select:focus {
    outline: none;
 }

/* COMPLETE REFERENCE */

.complete__reference {
    height: 75vh;
    position: absolute;
    left: 0;
    bottom: -100%;
    background: #fff;
    transition: bottom 500ms ease-out;
    font-size: 1.75rem;
    text-align: center;
    color: var(--on-surface-dark-clr);
    padding: 1.5rem;
}

.complete__reference--active {
    bottom: 0;
}

/* MOBILE */

@media only screen and (min-width: 576px) {

    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media only screen and (min-width: 768px) {

    .main {
        margin: 0 auto;
        width: 90%;
    }

    .header {
        padding-top: 7rem;
        text-align: center;
    }

    .header__title {
        padding-left: 0;
    }
    
    .header__subtitle {
        padding-left: 0;
    }
} 

@media only screen and (min-width: 1200px) {

    body {
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main {
        width: 70%;
    }

    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        cursor: pointer;
    }

    .manage {
        z-index: 200;
        height: 80vh;
        width: 50vw;
        top: 50%;
        left: 50%;
        margin-left: -25vw;
        margin-top: -40vh;
    }

    .manage__btn {
        cursor: pointer;
    }

    .btn__quantity {
        cursor: pointer;
    }

    .btn__remove {
        cursor: pointer;
    }

    .btn__basket {
        cursor: pointer;
        text-align: right;
        position: absolute;
        top: 0;
        height: fit-content;
        grid-template-columns: auto 64px;
        grid-template-areas: 
            "price quantity"
            "reference quantity";
    }

    .basket__quantity--icon {
        position: fixed;
        left: 100%;
        transform: translateX(-150%);
        right: 1rem;
        top: 2rem;
    }

    select {
        cursor: pointer;
    }

    .btn__surface-back {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        background: var(--active-back-clr);
        opacity: 0.3;
        display: none;
        cursor: pointer;
    }

    .btn__surface-back--active {
        display: inline-block;
    }

    .complete__reference {
        width: 100%;
    }
}